footer{
  background: $sc-ink4;
  a{
    color: #fff;
    &.social-link{
      &:hover{
        i{
          color: $sc-ink5;
        }
      }
    }
  }
}








.cms-footer-icon-facebook {
  @extend .fa;
  @extend %fa-facebook;
  color: #fff;
}
.cms-footer-icon-twitter {
  @extend .fa;
  @extend %fa-twitter;
  color: #fff;
}
.cms-footer-icon-youtube {
  @extend .fa;
  @extend %fa-youtube;
  color: #fff;
}
.cms-footer-icon-instagram {
  @extend .fa;
  @extend %fa-instagram;
  color: #fff;
}
.cms-footer-icon-phone {
  @extend .fa;
  @extend %fa-phone;
  color: #fff;
}
.footer-cms-social-content-columns-icons {
  display: flex;
  align-items: center;
  li {
    background: $sc-color-primary;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}
.myaccount-layout-footer {
  background-color: $sc-color-secondary;
}
.checkout-layout-footer {
  background-color: $sc-color-secondary;
  border-color: $sc-color-secondary;
}

.footer-cms-social-content-columns-logo-section {
  display: flex;
  padding: 0 0 0 10px;
  img {
    align-self: center;
    width: 33%;
  }
}
.footer-cms-social-content-columns-text {
  margin-left: 10px;
  ul {
    font-size: 12px;
    list-style: disc inside !important;
    li {
      list-style: disc inside !important;
    }
  }
}
.newsletter-footer-text {
  font-size: 12px;
  span {
    text-decoration: underline;
    font-weight: 700;
  }
}
.footer-content-call-us {
  color:#fff;
  text-align: left;

  @media (min-width: $screen-sm) {
    float: right;
  }
  h4, p{
    color: #fff;
  }
}
.call-us-only-large-devices {
  display: none;
  @media (max-width: $screen-md){
    display: block;
  }
}
.call-us-only-small-devices {
  display: block;
  @media (max-width: $screen-md){
    display: none;
  }

}
.newsletter-subscription-form-label {
  color: #4d5256;
}
.footer-content-right {
  @media (max-width: $screen-md) {
    padding: 0;
  }
}


.footer-container{
  > div {
    margin-bottom: 25px;
  }
  padding:40px 0;
  p.footer-title{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .footernav a{
    font-weight: 300;
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
    &.social-link{
      display: inline-block;
      margin-right: 15px;
      font-size: 25px;
    }
    i.cms-footer-icon-phone{
      margin-right: 10px;
    }
    &:hover{
      color: $sc-ink5;
    }
  }
  .newsletter-container{
    small{
      color: white;
      font-size: 12px;
      margin-bottom: 20px;
      display: block;
    }
  }
}
.shopping-layout-footer{
  .copy{
    background: darken($sc-ink4 , 10%);
    small{
      font-size: 12px;
      line-height: 40px;
      display: inline-block;
    }
  }
}
button.newsletter-subscription-form-button-subscribe{
  background: $sc-ink5;
  border:1px solid $sc-ink5;
  transition: all 0.2s;
  &:hover{
    background: darken($sc-ink4 , 10%);
    border:1px solid darken($sc-ink4 , 10%);
  }
}


.footer_note {
  color: white;
}
