.instant-member-banner-container{
  position: fixed;
  top: 40%;
  text-align: center;
  color: $sc-color-secondary;
  width: 40%;
  padding: 50px;
  background: white;
  z-index: 9999;
  font-size: 24px;
  left: 30%;

  @media (max-width: $screen-sm-min) {
      width: 90%;
      left: 5%;
  }
}

.instant-member-banner-background{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: .7;
  z-index: 9998;
}

.instant-member-banner-close{
  font-weight: bold;
  background: none;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#livechat-compact-container{
  z-index: 9997 !important;
}
.header-icon-container-logged {
  @extend .header-icon-container;
  color: white;
  width: 110px;
  line-height: 1;
  margin-top: 0;
  height: auto;
}

.open > [data-toggle="dropdown"] {
  color: white;
}

.header-icon-container-logged:hover{
  color: #0067b9;
}
