.facets-item-cell-list-container {
	border:1px solid $sc-ink2;
	margin-bottom: 15px;
	transition: all 0.3s;
	&:hover {
		background:$sc-ink3;
		.facets-item-cell-table-quick-view-wrapper ,
		.facets-item-cell-grid-quick-view-wrapper ,
		.facets-item-cell-list-quick-view-wrapper{
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			text-align: center;
			top: 50%;
			transform: translateY(-50%);
			@media(max-width: 992px){
				display: none;
			}
		}
		.facets-item-cell-table-image,
		.facets-item-cell-grid-image{
			opacity: 0.4;
		}
	}
	.facets-item-cell-list-image {
		@media (max-width: $screen-xs) {
			max-width: 150px;
			margin: 0 auto;
			padding: 0;
			transition: all 0.3s;
		}
	}
}
