/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/


.table-product-title{
  font-size:14px;
  color:black;
}

.facets-item-cell-table-content-wrapper{
  min-width:100%;
}
.table-view-mpn{
  text-align:right;
  font-size: 12px;
  margin-bottom:20px;
}
.facets-item-cell-table {
  @extend .item-cell;

  .global-views-star-rating {
    float:none;
  }

  .product-details-option-color {
    text-align:center;
  }

  .product-details-facets-option-color {
    text-align:center;
  }

  .cart-quickaddtocart-price {
    text-align:left;
    margin-bottom:$sc-margin-lv2;
  }

  .cart-quickaddtocart {
    text-align:center;
  }

  .cart-add-to-cart-button-container {

    width:100%;
    padding:0px;
  }

  .product-views-option-facets-color {
    text-align:center;
  }
}

.facets-item-cell-table-quick-view-wrapper {
  @extend .item-cell-quick-view-wrapper;
}

.facets-item-cell-table-quick-view-link {
  @extend .item-cell-quick-view-link;
}

.facets-item-cell-table-image-wrapper {
  position:relative;
  content-align:center;
  min-width:100%;

  @media (min-width: $screen-xs-min)
  {
    width: 50%;
    float: left;
    padding: 0 $sc-margin-lv3;
  }
}

.facets-item-cell-table-content-wrapper {


  @media (min-width: $screen-xs-min)
  {
    width: 50%;
    float: left;
    display: block;
    padding-left: $sc-margin-lv2;
  }
}

.facets-item-cell-table-link-image {}

.facets-item-cell-table-quick-view-icon {
}

.facets-item-cell-table-add-to-cart-itemid {}

.facets-item-cell-table-stock {
  text-align:left;
}

.facets-item-cell-table-details {
  text-align:left;
}

.facets-item-cell-table-image {
  width:100%;
  height:auto;
}

.facets-item-cell-table-title {
  @extend .item-cell-title;
}

.facets-item-cell-table-price {
  @extend .small-price;
  margin-bottom:$sc-margin-lv2;

  .product-views-price {
    text-align:left;
  }
}

.facets-item-cell-table-rating {
  text-align:left;
}

.facets-item-cell-table {
  .global-views-star-rating-area {
    margin-bottom:$sc-margin-lv2;
  }
  .global-views-star-rating-container {
    width:auto;
    display:table;
  }
}

.facets-item-cell-table-add-to-cart-quantity {
  @extend .input-medium;
}

.facets-item-cell-table-add-to-cart-button {
  @extend .button-primary;
  @extend .button-medium;
}

.facets-item-cell-table-stock-message {
  text-align:left;
}

.facets-item-cell-grid{
  overflow:hidden;
  transition: all 0.5s;
}
.facets-item-cell-grid:hover{
  background:white;
}
.facets-item-cell-grid .cart-add-to-cart-button-container{
  margin-top:-90px;
  transform:translatey(140px);
  transition: all 0.5s;
  transition-timing-function: ease-out;
  transition-timing-function: ease-in;
}
.facets-item-cell-grid:hover  .product-views-price-exact{
  transform:translatey(-30px);
  transition-timing-function: ease-out;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  background:#f2f2f2;
}
.facets-item-cell-grid:hover .cart-add-to-cart-button-container{
  transform:translatey(55px);
  transition-timing-function: ease-out;
  transition-timing-function: ease-in;
  transition: all 0.5s;



}
.facets-item-cell-grid:hover .table-product-ad-price{
  transform:translatey(-30px);
  transition-timing-function: ease-out;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  background:#f2f2f2;
}

.facets-item-cell-grid:hover .facets-item-cell-table-quick-view-link {
  background: #00273f;
  border: #00273f;
  transition-timing-function: ease-out;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.facets-item-cell-grid:hover .facets-item-cell-table-quick-view-link:hover {
  background: lighten($sc-ink4 , 15%);
  transition: all 0.5s;
}

.facets-item-cell-grid:hover .stock-available{
  transform:translatey(-30px);
  transition-timing-function: ease-out;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  z-index:0;
}
.facets-item-cell-grid:hover .used{
  transform:translatey(-30px);
  transition-timing-function: ease-out;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  z-index:10001;
  margin-top:5px;
}


.facets-item-cell-grid:hover .facets-item-cell-table-title{
  transition-timing-function: ease-out;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  background:#f2f2f2;
  z-index:1000;
}
.product-views-price-exact{
  margin-bottom:5px;
}

