.header-subheader-container {
  padding: $sc-padding-lv1;
  h4 {
    color: #fff;
    text-align: center;
    a{
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
}
.header-main-nav {
  background-color: #00273f;
  background-image: linear-gradient(#00273f, #01395c);
}
.header-main-wrapper {
  background: #fff;
  @media(max-width: 992px){
    padding-bottom:5px;
    background:$sc-ink2;
  }
  @media(max-width: 680px){
    padding-bottom:15px;
  }
}
.site-search {
  border: 0;
  @media(max-width: 680px) {
    padding-bottom: 10px !important;
  }
}
.site-search-content {
  height: 40px;
  border: 1px solid white !important;
  border-radius: 5px;
  background: white;
}
.itemssearcher-input {
  padding-top: 10px !important;
}
.site-search-button-submit {
  padding: 0;
  transition: all 0.3s;
  visibility: visible !important;
  height: 35px;
  width: 46px;
  background: white;
  border-radius: 50%;
  &:hover,&:focus{
    background: white;
  }
}
.site-search-input-icon {
  position: initial;
  color: $sc-ink4;
}
.header-secondary-wrapper {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.01);
  background-color: #f2f2f2;
  background-image: linear-gradient(#f2f2f2, #fafafa);
  border: 0;
  @media(min-width: 992px){
    background: $sc-ink3;
    height: 35px;
  }
}

.shopping-layout-breadcrumb{
  border:0px solid transparent !important;
}


.header-menu-level1 {
  display: flex;
  justify-content: center;
  li {
    float: none;
    text-align: center;
    a {
      color: #00273f;
    }
  }
  > li{
    position: relative;
    &:hover{
      a{
        background: white;
        color: #00273f;
      }
    }
  }
}
.header-menu-level2-anchor {
  font-size: 14px !important;
  font-weight: 500;
  color: #294675 !important;
  padding: 0 10px;
  margin: 0;
  height: 30px;
  line-height: 30px;
  i{
    @extend .fa;
    @extend %fa-chevron-right;
    float: right;
    font-size: 10px;
    /* display: block; */
    height: 30px;
    line-height: 30px;
  }
}
.header-mini-cart-menu-cart-icon, .header-mini-cart-menu-cart-link, .header-profile-register-link, .header-profile-login-link {
  &:hover {
    color: $sc-color-primary;
  }
}
.header-mini-cart-menu-cart-link {
  width: 60px;
  .header-mini-cart-menu-cart-icon{
    margin-top: 10px;
    transition: all 0.2s;
    color:white;
  }
  &:hover {
    .header-mini-cart-menu-cart-icon{
      color: $sc-ink5 !important;
    }
  }
}
.site-search-content {
  &:before{
    display: none;
  }
  &:after{
    display: none;
  }
}
.header-menu-level1-anchor {
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-right: 15px;
  padding: 10px 20px;
  height: 35px;
  transition-timing-function: ease-out;
  transition-timing-function: ease-in;
  transition: all 0.2s;
  &:after, &:before{
    display: none !important;
  }
}

.header-menu-level1-anchor:hover {
  border-bottom: 3px solid $sc-ink5;
  transition-timing-function: ease-out;
  transition-timing-function: ease-in;
  transition: all 0.2s;
}

.header-menu-level2 {
  > li {
    text-align: left;
    width: 100%;
    padding: 0;
    position: relative;
    a {
      font-size: 14px;
    }
    ul.header-menu-level3{
      display: none;
    }
    &:hover{
      a {
        background: $sc-ink3;
      }
      ul.header-menu-level3{
        display: block;
        position: absolute;
        top: 0;
        right: -100%;
        width: 280px;
        background: white !important;
        > li{
          text-align: left;
          a{
            padding: 0 10px;
            line-height: 30px;
            height: 30px;
            font-size: 14px;
            color: #294675;
            text-align: left;
            border-bottom: 1px solid #e4e4e4;
            &:hover{
              background: #dcdcdc;
            }
          }
        }
      }
    }
  }
}
.header-profile-welcome-user-icon {
  float: none;
}
.header-menu-secondary-nav {
  .header-menu-level2 {
    display: flex;
    flex-wrap: wrap;
  }
  .header-menu-level-container{
    width: 280px;
    padding: 0;
    min-height: 100%;
    > li{
      width: 100%;
      padding: 0;
    }
  }

}
