/*
   © 2017 NetSuite Inc.
   User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
   provided, however, if you are an authorized user with a NetSuite account or log-in, you
   may use this code subject to the terms that govern your access and use.
*/


.out-of-stock-message{
  display: inline-block;
  color: #00273f;
  height: 31px;
  border-radius: 50px;
  line-height: 30px;
  font-size:14px;
  font-weight: 600;
  width: 100%;
}

.stock-available-checkmark{
  display: inline-block;
  color: green;
  height: 31px;
  border-radius: 50px;
  line-height: 30px;
  font-size:14px;
  font-weight: 600;
  width: 100%;
}

.product-table-new{
  margin-left: 10px;
}


.table-product-final-price{
  font-size:23px;
  color:black;
  height: 28px;
  line-height:1.3;
}

.table-product-ad-price{
  line-height: 1.9;
  font-size:12px;
  color:red;
  width: 100% !important;
}

.product-views-price-lead{
  width: 100%;
  @extend .middle-price;
}

.product-views-price-old{
  color: red;
  @extend .old-price;
}

.product-views-price-login-to-see-prices-highlighted {
  margin-top: $sc-margin-lv2;
  margin-bottom: $sc-margin-lv2;
}
.product-views-price-login-to-see-prices {
  @extend .message;
}

.product-views-price-message {
  font-weight: normal;
}

.product-views-price{}
.product-views-price-range{}
.product-views-price-exact{}


.Online_Price_Only_Message {
  font-size:16px;
  color:#00273f;
  height: 16px;
  line-height:1.3;
  margin-bottom: 10px;
  font-weight: 900;
  padding-left: 5px;
}

.free_shipping_banner {
  font-size:16px;
  color:#00273f;
  height: 16px;
  line-height:1.3;
  margin-bottom: 10px;
  font-weight: 900;
}

.your-price{
  font-size:18px;
  font-weight: 600;
  width: 100%;
  color:green;


}

